### Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Loading Dataset

In [4]:
df = pd.read_csv('Iris.csv')### Loading Dataset

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
# Id column is not needed as it is not informative for the data training model 

df.drop('Id', axis=1, inplace=True)

In [12]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [16]:
x = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = df['Species']

In [39]:
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [18]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [40]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

### Train-Test Data Splitting

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)

In [43]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
3              4.6           3.1            1.5           0.2
45             4.8           3.0            1.4           0.3
132            6.4           2.8            5.6           2.2
127            6.1           3.0            4.9           1.8
125            7.2           3.2            6.0           1.8
..             ...           ...            ...           ...
101            5.8           2.7            5.1           1.9
27             5.2           3.5            1.5           0.2
104            6.5           3.0            5.8           2.2
78             6.0           2.9            4.5           1.5
111            6.4           2.7            5.3           1.9

[120 rows x 4 columns]

In [44]:
X_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
139            6.9           3.1            5.4           2.1
116            6.5           3.0            5.5           1.8
109            7.2           3.6            6.1           2.5
113            5.7           2.5            5.0           2.0
15             5.7           4.4            1.5           0.4
137            6.4           3.1            5.5           1.8
59             5.2           2.7            3.9           1.4
105            7.6           3.0            6.6           2.1
80             5.5           2.4            3.8           1.1
60             5.0           2.0            3.5           1.0
0              5.1           3.5            1.4           0.2
149            5.9           3.0            5.1           1.8
14             5.8           4.0            1.2           0.2
142            5.8           2.7            5.1           1.9
117            7.7           3.8            6.7           2.2
4              5.0           3.6            1.4           0.2
25             5.0           3.0            1.6           0.2
71             6.1           2.8            4.0           1.3
98             5.1           2.5            3.0           1.1
120            6.9           3.2            5.7           2.3
5              5.4           3.9            1.7           0.4
33             5.5           4.2            1.4           0.2
94             5.6           2.7            4.2           1.3
106            4.9           2.5            4.5           1.7
148            6.2           3.4            5.4           2.3
20             5.4           3.4            1.7           0.2
22             4.6           3.6            1.0           0.2
118            7.7           2.6            6.9           2.3
26             5.0           3.4            1.6           0.4
44             5.1           3.8            1.9           0.4

In [45]:
y_train

3          Iris-setosa
45         Iris-setosa
132     Iris-virginica
127     Iris-virginica
125     Iris-virginica
            ...
101     Iris-virginica
27         Iris-setosa
104     Iris-virginica
78     Iris-versicolor
111     Iris-virginica
Name: Species, Length: 120, dtype: object

In [46]:
y_test

139     Iris-virginica
116     Iris-virginica
109     Iris-virginica
113     Iris-virginica
15         Iris-setosa
137     Iris-virginica
59     Iris-versicolor
105     Iris-virginica
80     Iris-versicolor
60     Iris-versicolor
0          Iris-setosa
149     Iris-virginica
14         Iris-setosa
142     Iris-virginica
117     Iris-virginica
4          Iris-setosa
25         Iris-setosa
71     Iris-versicolor
98     Iris-versicolor
120     Iris-virginica
5          Iris-setosa
33         Iris-setosa
94     Iris-versicolor
106     Iris-virginica
148     Iris-virginica
20         Iris-setosa
22         Iris-setosa
118     Iris-virginica
26         Iris-setosa
44         Iris-setosa
Name: Species, dtype: object

### Model Building, Training and Evaluation

In [65]:
# Training the model with Logistic Regression and checking the score/accuracy

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)

C:\Users\prath\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9666666666666667

In [56]:
# Training the model with K Nearest Neighbour Clssification and checking the score/accuracy

from sklearn.neighbors import KNeighborsClassifier

model_KNN = KNeighborsClassifier(n_neighbors=10)

model_KNN.fit(X_train, y_train)

model_KNN.score(X_test, y_test)

0.9666666666666667

### Model Predictions

In [60]:
model.predict([[5.1, 3.8, 1.9, 0.4]])

C:\Users\prath\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [64]:
df.iloc[44]

SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.9
PetalWidthCm             0.4
Species          Iris-setosa
Name: 44, dtype: object